<div class="mainContainer">
    <div class="mainPage">
      <div class="welcomeText">Welcome to Secret Society</div>
      <div class="buttons">
        <div class="mainBtn"><a href="">COME IN</a></div>

      </div>
    </div>
  </div>